.font-Inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
body{
    background-color: #fbfbfb;
}
*{
    margin: 0px;
    padding: 0px;
}
/* nav styling */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}
nav img{
    margin: 16px 80px;
}
nav button{
    margin: 24px 80px;
    background-color: #469165;
    border-radius: 5px;
    padding: 5px 20px;

}
.link-parents{
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;

}
.link-parents a{
    text-decoration: none;
}

/* hero-section-parents Styling  Start*/
.hero-section-parents{
    text-align: center;
    background-color: blueviolet;
    padding: 100px 300px;
    margin: 0px 0px 20px;
    background-image: url("./assets/hero-bg.png") ;
    background-size: cover;
}
.hero-section-parents .btn{
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    color: #469165;
    border: none;
    margin: 0px 0px 10px;
}

.hero-section-child p{
    font-size: 11px;
    color: #FFFFFF;
    line-height: 24px;
}
.hero-section-child h2 ,span{
    font-size: 50px;
    color: #eaecee;
}
.hero-btn{
    padding: 12px 15px ;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 15px 10px;
}
.hero-btn-two{
     padding: 12px 15px ;
     background: none;
    border-radius: 4px;
    border: 1px solid #FFFFFF ;
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
}

/* Notes Section Styling */
.notes-section-parent{
    margin: 16px 80px;
    text-align: center;
}
.notes-section-parent h1{
    font-size: 40px;
    color: #001931;
    margin: 35px  0px 12px 0px;
}
.notes-section-parent p{
    font-size: 12px;
    color: #627382;
    margin: 0px  0px 44px 0px;
}
.notes-title{
    display: flex;
    gap: 20px;
}
.notes-box{
    text-align: center;
    padding: 25px 25px;
    gap: 12px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px #dadada;
}
.notes-box h2{
    color: #001931;
    font-size: 20px;
    font-weight: 700;
    margin: 10px auto;
}
.notes-box p{
    color: #627382;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.notes-box img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 100%;

}


