.font-Inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
*{
    margin: 0px;
    padding: 0px;
}
/* nav styling */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}
nav img{
    margin: 16px 80px;
}
nav button{
    margin: 24px 80px;
    background-color: #469165;
    border-radius: 5px;
    padding: 5px 20px;

}
.link-parents{
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;

}
.link-parents a{
    text-decoration: none;
}

/* hero-section-parents Styling  Start*/
.hero-section-parents{
    text-align: center;
    background-color: blueviolet;
    padding: 100px 300px;
    margin: 0px 0px 20px;
    background-image: url("./assets/hero-bg.png") ;
    background-size: cover;
}
.hero-section-parents .btn{
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    color: #469165;
    border: none;
    margin: 0px 0px 10px;
}

.hero-section-child p{
    font-size: 11px;
    color: #FFFFFF;
    line-height: 24px;
}
.hero-section-child h2 ,span{
    font-size: 50px;
    color: #eaecee;
}
.hero-btn{
    padding: 12px 15px ;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 15px 10px;
}
.hero-btn-two{
     padding: 12px 15px ;
     background: none;
    border-radius: 4px;
    border: 1px solid #FFFFFF ;
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
}



