.font-Inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
body{
    background-color: #fbfbfb;
}
*{
    margin: 0px;
    padding: 0px;
}

/* common class */
.container{
    margin: 16px 80px;
}
/* nav styling */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}
nav img{
    margin: 16px 80px;
}

.btn{
    margin: 24px 80px;
    background-color: #469165;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #eaecee;
    cursor: pointer;
    border: none;
}
.link-parents{
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;

}
.link-parents a{
    text-decoration: none;
}

/* hero-section-parents Styling  Start*/
.hero-section-parents{
    text-align: center;
    background-color: blueviolet;
    padding: 100px 300px;
    margin: 0px 0px 20px;
    background-image: url("./assets/hero-bg.png") ;
    background-size: cover;
}
.hero-section-parents .btn{
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    color: #469165;
    border: none;
    margin: 0px 0px 10px;
}

.hero-section-child p{
    font-size: 11px;
    color: #FFFFFF;
    line-height: 24px;
}
.hero-section-child h2 ,span{
    font-size: 50px;
    color: #eaecee;
}
.hero-btn{
    padding: 12px 15px ;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 15px 10px;
}
.hero-btn-two{
     padding: 12px 15px ;
     background: none;
    border-radius: 4px;
    border: 1px solid #FFFFFF ;
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
}

/* Notes Section Styling */
.notes-section-parent{
    text-align: center;
}
.notes-section-parent h1{
    font-size: 40px;
    color: #001931;
    margin: 35px  0px 12px 0px;
}
.notes-section-parent p{
    font-size: 12px;
    color: #627382;
    margin: 0px  0px 44px 0px;
}
.notes-title{
    display: flex;
    gap: 20px;
}
.notes-box{
    text-align: center;
    padding: 25px 25px;
    gap: 12px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px #dadada;
}
.notes-box h2{
    color: #001931;
    font-size: 20px;
    font-weight: 700;
    margin: 10px auto;
}
.notes-box p{
    color: #627382;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.notes-box img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 100%;
}
/* brain Section Start */
.brain-section-parents{
    gap: 50px;
}
.brain-child{
    display: flex;
    /* justify-content: space-between; */
    gap: 60px;
    margin: 50px;
}
.brain-img img{
    width: 400px;
    height: 400px;
}

.brain-title h2{
    font-size: 15px;
    line-height: 20px;
    color: #469165;
    font-weight: 400;
    margin: 50px auto 0px;
}
.brain-title h3{
    font-size: 45px;
    color: #001931;
    font-weight: bold;
}
.brain-title p{
    font-size: 16px;
    color: #738390;
    line-height: 20px;
    font-weight: 400;
    margin: 15px auto 35px;
}

.brain-title h4{
    margin: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    font-weight: 400;
}


/* Ready Section Styling */
.ready-child{
    margin: 100px auto 100px;
}
.ready-title{
    text-align: center;
    background: #f7f6f2;
    padding: 30px;
    border-radius: 12px;
}
.ready-title h2{
    font-size: 35px;
    font-weight: bold;
    color: #001931;
    margin: 40px auto 16px;
}
.ready-title p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    font-weight: 400;
}
.ready-title h3{
    font-family: 16px;
    line-height: 20px;
    color: #627382;
    font-weight: 400;
    margin: 16px auto 40px;
}

